<ion-header>
  <ion-toolbar>
    <ion-title>
      personal information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-item onclick="PersonInfo()">
  <ion-avatar slot="start">

  </ion-avatar>
  <ion-label>
    <h3>UserName:</h3>
    <ion-label>
      <!--UserName: {{username}}-->
    </ion-label>
    <!--<p>LastName:</p>-->
    <p>Email:</p>
    <ion-label>
      Email
    </ion-label>
  </ion-label>
  </ion-item>


  <ion-item [routerLink] = "'/setup'" [detail]="true">
    <ion-icon slot="end" [name]="settings"></ion-icon>
    Setting
  </ion-item>


    <ion-item [routerLink] = "'/help'" [detail]="true">
      <ion-icon slot="end" [name]="settings"></ion-icon>
      Help
    </ion-item>


    <ion-item [routerLink] = "'/login'" [detail]="true">
      <ion-icon slot="end" [name]="settings" (click) = Signout()></ion-icon>
      Sign Out
    </ion-item>

  </ion-content>
