<ion-header>
  <ion-toolbar>
    <ion-title>
      personal information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!--<ion-item (click)="PersonInfo()">-->
    <!--&lt;!&ndash;    <ion-item (click)="PersonInfo()">&ndash;&gt;-->
    <!--<div class="profile-header">-->
      <!--<div class="profile-userpic " (click)="selectImage()">-->
        <!--<ion-avatar slot="start">-->

          <!--<img src="{{this.user?(this.user.photoUrl?this.user.photoUrl:this.default_photoUrl):this.default_photoUrl}}" alt=""/>-->

        <!--</ion-avatar>-->
      <!--</div>-->
      <!--&lt;!&ndash;<ion-button class="user-right" (click)="PersonInfo()">&ndash;&gt;-->
        <!--&lt;!&ndash;edit info&ndash;&gt;-->
      <!--&lt;!&ndash;</ion-button>&ndash;&gt;-->
      <!--<div class="right">-->

      <!--<ion-label>{{this.userName}}</ion-label>-->

      <!--<ion-label>{{this.email}}</ion-label>-->
      <!--<ion-icon slot="end" [name]="settings"></ion-icon>-->
      <!--</div>-->
    <!--</div>-->


  <!--</ion-item>-->


    <div style="display: flex; align-items: center">

      <div class="profile-header " >


      <img src="{{this.userService.user.photoUrl?this.userService.user.photoUrl:'./../assets/img/person.png'}}" alt=" " width="100" height="100" (click)="selectImage()"/>
        <ion-item>
          <a  (click)="selectImage()"  class="underline">Update</a>
        </ion-item>

    </div>
      <ion-item  (click)="PersonInfo()" [detail]="true">
      <ion-col>
        <ion-row>
          <h3> {{this.userName}}</h3>
        </ion-row>

        <ion-row>
          <h3>{{this.email}}</h3>
        </ion-row>
      </ion-col>


          <ion-icon class="right" slot="end" [name]="settings"></ion-icon>

      </ion-item>


    </div>





  <ion-item [routerLink] = "'/setup'" [detail]="true">
    <ion-icon slot="end" [name]="settings"></ion-icon>
    Setting
  </ion-item>


  <ion-item [routerLink] = "'/help'" [detail]="true">
    <ion-icon slot="end" [name]="settings"></ion-icon>
    Help
  </ion-item>


  <ion-item [routerLink] = "'/login'" [detail]="true">
    <ion-icon slot="end" [name]="settings" ></ion-icon>
    Sign Out
  </ion-item>

  <!--<ion-button (click) = "testFirebase()" >test firebase</ion-button>-->
  <!--<img src="{{this.photo}}">-->
</ion-content>
