<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/forget"></ion-back-button>
    </ion-buttons>
    <ion-title>New Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!--<ion-item>-->
    <!--<ion-label position="stacked">Question: </ion-label>-->
    <!--<ion-label>-->
      <!--{{question}}-->
    <!--</ion-label>-->
  <!--</ion-item>-->

  <ion-item>
    <ion-label  position="stacked">New Password: </ion-label>
    <ion-input [type]="passwordType" clearOnEdit="false" placeholder="Please input your new password"required type="text" [(ngModel)]="passWord" [ngModelOptions]="{standalone: true}"></ion-input>
    <ion-icon slot="end" item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
  </ion-item>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" (click)="submit()">Confirm
    </ion-button>
  </div>
</ion-content>
