<ion-header>
  <ion-toolbar>

    <ion-title>
      Which type of service do you want?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-x="true" fullscreen>
  <div style="display: flex; align-items: center">
    <img height="100" width="100" src='./../assets/img/appliance.png' alt="" (click)="typedRequest1()" />
    <img height="100" width="100" src='./../assets/img/ComputerRepair.png' alt="" (click)="typedRequest2()"/>
    <img height="100" width="100" src='./../assets/img/plumbing.png' alt="" (click)="typedRequest3()"/>
    <img height="100" width="100" src='./../assets/img/tutoring.png' alt="" (click)="typedRequest4()"/>
    <img height="100" width="100" src='./../assets/img/Electrical.png' alt="" (click)="typedRequest5()"/>
    <img height="100" width="100" src='./../assets/img/HomeCleaning.png' alt="" (click)="typedRequest6()"/>
    <img height="100" width="100" src='./../assets/img/PackagingAndMoving.jpg' alt="" (click)="typedRequest7()"/>
    <img height="100" width="100" src='./../assets/img/Paint.jpg' alt="" (click)="typedRequest8()"/>
    <img height="100" width="100" src='./../assets/img/PestControl.png' alt="" (click)="typedRequest9()"/>
  </div>

  <ion-item>
    <ion-button (click)="newRequest()" expand="block" style="display:inline-block">Create Order</ion-button>
  </ion-item>
</ion-content>
<!--<ion-item>-->

  <!--<div style="display: flex; align-items: center">-->
    <!--<ion-img src="./Electrical.png"> </ion-img>-->
    <!--<ion-img src="./HomeCleaning.png"> </ion-img>-->
    <!--<ion-img src="./PackagingAndMoving.jpg"> </ion-img>-->
    <!--<ion-img src="./Paint.jpg"> </ion-img>-->
    <!--<ion-img src="./PestControl.png"> </ion-img>-->
    <!--<ion-img src="./plumbing.png"> </ion-img>-->
    <!--<ion-img src="./tutoring.png"> </ion-img>-->
    <!--<ion-img src="./ComputerRepair.png"> </ion-img>-->
  <!--</div>-->
<!--</ion-item>-->
