<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>set up</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label>Sound</ion-label>
      <ion-toggle slot="start" name="blueberry" checked></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>BlueTooth</ion-label>
      <ion-toggle slot="start" name="apple" color="secondary" checked></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Location</ion-label>
      <ion-toggle slot="start" name="grape" color="tertiary" checked></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Notification</ion-label>
      <ion-toggle slot="start" name="kiwi" color="success" checked></ion-toggle>
    </ion-item>

  </ion-list>
</ion-content>
