<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>set up</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label>Sound</ion-label>
      <ion-toggle slot="end" name="sound"  checked [(ngModel)]="isToggled1" (ionChange)="toggleFun1()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>BlueTooth</ion-label>
      <ion-toggle slot="end" name="bluetooth"  checked [(ngModel)]="isToggled2" (ionChange)="toggleFun2()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Location</ion-label>
      <ion-toggle slot="end" name="location"  checked [(ngModel)]="isToggled3" (ionChange)="toggleFun3()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Notification</ion-label>
      <ion-toggle slot="end" name="notification"  checked [(ngModel)]="isToggled4" (ionChange)="toggleFun4()"></ion-toggle>
    </ion-item>

  </ion-list>
</ion-content>
